<h1> <%= @title %> </h1>
<p> <%= @sub_heading %></p>

<p>Use this file to add content to your home page.</p>
<p>To change the title and sub-heading, edit the <code>@title</code> and <code>@sub_heading</code> variables in the corresponding controller action.</p>
<p>For example, in <code>home_controller.rb</code>:</p>